<h1> New game </h1>

<div class="container">
    <ul class="letters my-3 list-inline" >
      <% @letters.each do |letter| %>
        <li class=" letter justify-content-center w-40 space-between my-3 btn-letter list-inline-item bg-primary text-white "><%= letter.capitalize %></li>
      <% end %>
    </ul>

    <form action="/score" method="post">
      <p>What is the longest word you can find?</p>
      <input type="text" name="score" value="<%=  %>">
      <input type="submit" value="Play" id="btn">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag 'letters', @letters %>
    </form>
</div>
